<h2>By Country</h2>
<hr>
 
<div class="row">
    <div class="col">
        <app-countries-input
            (onEnter)="search($event)"
            (onDebounce)="getSuggestions($event)"
            placeholder="Search for Country"
        ></app-countries-input>
    </div>
</div> 

<ul class="list-group">
    <li 
        *ngFor="let country of suggestedCountries"
        class="list-group-item list-group-item-action"
    > 
        <a 
            class="text-decoration-none"
            [routerLink]="['/country', country.ccn3]"
        >
            <img [src]='country.flags.png' [alt]="country.name.common" class="suggestions-flag" />
            {{ country.name.common }} 
        </a>
    </li>
</ul>

<hr>

<app-alert *ngIf="anyError"></app-alert>

<div class="row" *ngIf="countries.length > 0">
    <div class="col">
        <app-countries-table [countries]="countries"></app-countries-table>
    </div>
</div>
