/* You can add global styles to this file, and also import other style files */
.cursor-pointer {
    cursor: pointer;
}

.small-flag { 
    width: 80px;
}

.d-flex {
    display: flex;
}

.justify-content {
    justify-content: center;
}

.align-item {
    align-items: center;
}